/* CSS Pseudo-classes

https://teamtreehouse.com/library/css-selectors

https://teamtreehouse.com/library/css-layout-basics

http://www.barelyfitz.com/screencast/html-training/css/positioning/

https://teamtreehouse.com/library/css-basics/basic-selectors/pseudoclasses

Unlike type, ID and class selectors, pseudo-classes can target elements dynamically based 
on user interaction, an element’s state, and more.

They're not explicity defined in an element's class attribute.

Think of a pseudo-class as a keyword we add to a selector to style a special state of an element.

*/

/* The :link pseudo-class targets links that have not been visited by the user */
a:link {
  color: orange;
}

/* The :visited pseudo-class targets links that have been visited –– or clicked –– by the user */
a:visited {
  color: lightblue;
}

/* The :hover pseudo-class targets an element when a user hovers over it  */
a:hover {
  color: forestgreen;
}


/* The :active pseudo-class gets applied when an element is in an active state   */
a:active {
  color: lightcoral;
}


/*  The :focus pseudo-class is only applied to interactive elements like links, buttons and form elements. 
    The styles are applied as soon as the element receives focus:  
*/
a:focus {
  color: white;
  background-color: orange;
}


/*  Match any p element that is the first child of another element   */
p:first-child {
    color: blue;
}








/*    */

/*    */


