/* https://teamtreehouse.com/library/css-transitions-and-transforms  

    Quizzes and Challenges 

*/

/* Write a declaration that will transition only the height value of .collapsed, with a value of .6s */
.collapsed {
	height: 0;
	overflow: hidden;
    transition: height .6s;
}

/* Write a declaration that will transition only the color and background values of .content. */
.content {
  transition-property: color, background;
}

/* Next, set the duration of the color transition to 400 milliseconds, and the duration of the background transition to 500 milliseconds.*/ 
.content {
  transition-property: color, background;
  transition-duration: .4s, .5s;
}

/* Quiz 1 */ 

/* 

    A time value of 500ms is equivalent to the value
        .5s


    What property defines the property, or properties, you want to transition?
        transition-property


    What property sets how long a transition should last?
        transition-duration

    Every CSS property can accept a transition.
        False, only animatable properties with identifiable halfway points can accept transitions. 

    Given the CSS below, what is the transition-duration for background?
 */
        .card {
            transition-property: color, background, box-shadow;
            transition-duration: .4s, .5s, .6s;
        }
    
        Answer = .5s

/* 
    Given the CSS below, how will the browser display the transition?  */
        .card {
          transition-property: background;
          transition-duration: .4s;
        }

        .card:hover {
          background: lightyellow;
        }

    Answer = The background transitions to lightyellow on hover, then transitions back
             to the original color on hover-off. 

    
    The keyword value _______ can be used to transition every animatable property in a CSS rule.
        All
    

/* Transition Timing Functions and Delays */

/* 
    What property lets you set the start time of a transition?
        - transition-delay


    
    What property provides a way to accelerate and decelerate a transition's speed?
        - transition-timing-function



    What is the transition-delay value in this code:
        .icon {
            transition: opacity .4s ease-out .2s;
        }
        -  .2s



    How can you write transitions using shorthand?
        .box {
          transition-property: color, background;
          transition-duration: .4s, .6s;
          transition-delay: 0s, .2s;
        }

        - transition: color .4s 0s, background .6s .2s




    The transition-timing-function value affects the duration of a transition
        - False. Timing functions do not affect the duration, only how fast or slow you 
                  perceive the transition to be. 




    A time value of 1500ms is equivalent to the value:
        - 1.5s



    What does the browser apply to the opacity transition?
        .icon {
              opacity: 0;
              transition-property: opacity;
              transition-duration:  .4s;
        }
    -  ease



    What property provides a way to accelerate and decelerate a transition's speed?
        - transition-timing-function

*/





/* Getting Started with CSS Transforms */

/* 
In the .photo:hover .overlay rule, write a transform that will move the element up 100% from its original space.

*/

.photo:hover .overlay {
  transform: translateY(-100%);
}

/* Next, in the .photo:hover img rule, scale the image 1.3 times its size. */
.photo:hover img {
  transform: scale(1.3); 
}

/* QUIZ */

/* Given the CSS below, what transformation(s) will .photo display on :hover? */

    .photo {
      transform: scale(1.5);
    }

    .photo:hover {
      transform: rotate(-5deg);
    }

   /* - Rotated '-5deg' only */


/* In the image (box tilted slightly to the right- web-transform.png), the grey box represents the box's original position.
   What property and value sets the rotation's origin to the one shown in the image?

  - tranform-origin: 100% 100%;
*/


/* What is the default origin of an HTML element 
    - center
*/

/* What transform element lets you move elements sideways?
    - traslateX()
*/


/* Which of the following declarations will create the rotation shown (box slightly moved to the left - box-rotating.png) in the image above?
    - transform: rotate(-15deg)
*/


/* Given the image (web_bezier.png), if you're using an easing tool like cubic-bezier.com, what type of easing 
    effect does this bezier curve create?
    - the transition starts slow, then rapidly accelerates towards the end of its duration
*/


/* All CSS transformations need to be written as a value of what property?
    - transform
*/


























    
    